/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.gmnoprint {

    .gm-svpc {

        > div {
            width: 100%;
        }
    }
}

.edit-post-settings-sidebar__panel-block .components-panel__body .components-base-control.advanced-gutenberg-google-maps__marker-address {
    margin-bottom: 0;
}

.advanced-gutenberg-google-maps {
    
    &__marker-address {
        float: left;
        width: calc(100% - 40px);
    }
    
    &__remove-marker-address {
        float: left;
        margin-left: 10px;
        margin-top: 1px;
        padding: 5px 5px 4px;
    }

    &__overlay {
        background-color: #f3f4f5;
        padding: 40px;
        position: relative;
        z-index: 100;

        h3 {
            font-size: 26px;
            margin: 0;
            text-align: center;
        }

        p {
            font-size: 18px;
            text-align: center;
        }
    }
}