/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.gmnoprint {

    .gm-svpc {

        > div {
            width: 100%;
        }
    }
}

.guten-google-maps {
    
    &__marker-address {
        float: left;
        width: calc(100% - 40px);
    }
    
    &__remove-marker-address {
        float: left;
        margin-left: 10px;
        margin-top: 1px;
        padding: 5px 5px 4px;
    }
}